<div class="header">
    <div class="header-inner">
        <img src="" alt="Page icon">

        <span class="header__text"
            data-light="Developer by day"
            data-dark="Batman by night">
            Developer by day
        </span>
        <button>
            <img src="" alt="theme-icon">
        </button>
    </div>
</div>
